global
  log 127.0.0.1 local0 notice
  maxconn 2000

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  retries 3
  option redispatch
  timeout connect  5000
  timeout client  10000
  timeout server  10000

listen weblb
  bind 0.0.0.0:80
  mode http
  balance roundrobin
  option httpclose
  option forwardfor
  server ffm 172.19.0.2:80 cookie A check
  server nyc 172.19.0.3:80 cookie A check
